@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h6 {
  color: #f72210;
  font-size: 16px;
  font-weight: 700;
}

.hide {
  display: none;
}

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline !important;
}

.align-center {
  align-items: center !important;
}

.large-screen,
.bar,
.main-menu {
  display: none;
}

nav {
  background-color: #f72210;
  height: 50px;
  color: #fff;
  grid-template-columns: 40% 60%;
}

.logo {
  margin: auto;
  width: 100px;
}

.logo svg {
  fill: #fff;
  height: 20px;
  width: 100%;
}

.weather-icon {
  width: 24px;
  height: 24px;
}

.weather-text {
  font-size: 15px;
}

.subscribe a {
  background-color: #fff;
  color: #f72210;
  padding: 0 5px;
}

.signin,
.subscribe {
  font-size: 14px;
  margin-right: 5px;
}

.signin {
  margin-left: 20px;
}

.menu-bar {
  height: 50px;
  cursor: pointer;
  font-size: 26px;
  text-align: center;
  color: #999;
  padding-top: 6px;
}

.subscribe-block {
  background-color: #f4f5f6;
}

.subscribe-img {
  /* width: 260px; */

  height: 241px;
}

.subscribe-img-1 {
  position: relative;
  top: 20px;
  left: 20px;
}

.subscribe-img-2 {
  position: relative;
  top: -195px;
  left: 100px;
}

.subscribe-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.subscribe-body {
  /* margin-top: -170px; */
  text-align: center;
  line-height: 1.5;
  color: #333;
  font-weight: normal;
  font-size: 15px;
}

.subscribe-body h3,
.subscribe-body p {
  margin: 10px auto;
  padding: 0 20px;
}

.subscribe-body h3 {
  font-size: 20px;
  font-weight: bold;
}

.subscribe-body p {
  color: #888;
  font-weight: normal;
}

.newsletter {
  /* border: 1px solid #eee; */
  padding: 15px 0;
  /* width: 100%; */
  /* margin: auto; */
}

.newsletter-img {
  background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") center center / cover no-repeat;
  height: 160px;
}

.newsletter-text {
  text-align: center;
  border: 1px solid #eee;
  margin: auto;
}

.newsletter-text h3 {
  margin: 20px auto;
  font-size: 20px;
  font-weight: bold;
}

.newsletter-text p {
  margin: auto;
  font-weight: lighter;
  font-size: 15px;
}

.red-button {
  display: inline-block;
  background-color: #f72210;
  padding: 10px 10px 10px 12px;
  color: white;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin: 20px 0;
}

.footer-logo {
  margin: 20px 30px 15px 0;
}

.footer-logo svg {
  fill: #f72210;
  width: 85%;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
  color: #666;
  margin: 10px 0;
}

.social-icons {
  font-size: 25px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
}

.social-icons a {
  margin-right: 10px;
  padding-bottom: 20px;
  color: #666;
}

.footer-main {
  /* border-top: 1px solid #eee; */
  margin: 10px auto 0;
  padding-top: 10px;
}

.footer-links-edition label {
  margin-top: 6px;
  margin-right: 15px;
}

.footer-links-edition ul {
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
}

.footer-links-edition li {
  margin-right: 20px;
}

.footer-menu {
  list-style: none;
  color: #eee;
}

.footer-menu a {
  color: #666;
}

.extra-links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.extra-links li {
  margin: 0 10px 0 0;
}
