@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.hide {
  display: none;
}

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.grid {
  display: grid;
}

.space-between {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline !important;
}

.align-center {
  align-items: center !important;
}

nav {
  background-color: #f72210;
  height: 50px;
  color: #fff;
  grid-template-columns: 40% 60%;
}

.logo {
  margin: auto;
  width: 100px;
}

.logo svg {
  fill: #fff;
  height: 20px;
  width: 100%;
}

.weather-icon {
  width: 24px;
  height: 24px;
}

.weather-text {
  font-size: 15px;
}

.subscribe a {
  background-color: #fff;
  color: #f72210;
  padding: 0 5px;
}

.signin,
.subscribe {
  font-size: 14px;
  margin-right: 5px;
}

.signin {
  margin-left: 20px;
}

.menu-bar {
  height: 50px;
  cursor: pointer;
  font-size: 26px;
  text-align: center;
  color: #999;
  padding-top: 6px;
}
