@media screen and (min-width: 768px){
  nav {
    width: 100%;
    grid-template-columns: 50% 50%;
  }

  .weather-info {
    display: flex;
  }

  .subscribe span {
    display: block;
  }

  .actions {
    margin-right: 0px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
  }

  .weather-info {
    margin-right: 100px;
  }

  .subscribe-mobile {
    display: none;
  }

  .subscribe-tablet {
    display: block; 
  }

  .actions {
    margin-left: 115px;
  }

}
