@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    grid-template-columns: 50% 50%;
  }

  .weather-info {
    display: flex;
    margin-right: 100px;
  }

  .subscribe span {
    display: block;
  }

  .actions {
    margin-left: 115px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
  }

  .subscribe-mobile {
    display: none;
  }

  .subscribe-tablet {
    display: block;
  }

  .footer-main {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     border-bottom: 1px solid #eee;
  }

  .social-icons {
    border-bottom: none;
  }

  .copyright {
    margin-left: -200px;
  }
}

@media screen and (min-width: 1024px) {
  .small-screen {
    display: none;
  }

  .large-screen {
    display: block;
    width: 100%;
    height: 100px;
    height: 95px;
    padding: 20px 10px 15px;
  }

  .logo {
    height: 85px;
  }

  .weather-info {
    margin: 0;
  }

  .left {
    width: 20%;
    margin: 0 auto;
  }

  .middle {
    width: 60%;
    color: #fff;
    margin: 0 auto;
  }

  .right {
    width: 20%;
    margin: 40px 0 10px 50px;
  }

  .middle svg {
    fill: #fff;
    height: 45px;
    margin: 5px 0 0 130px;
  }

  .subscribe {
    margin-right: 0;
  }

  .bar {
    display: block;
    height: 15px;
  }

  .main-menu {
    display: flex;
    background-color: white;
    border-bottom: 1px solid #eee;
  }

  .menu-list {
    height: 24px;
    list-style: none;
    padding: 5px;
    width: 85%;
  }

  .menu-list a {
    color: #000;
  }

  .line-after::after {
    content: " | ";
    margin-left: 10px;
  }
}
